body {
    margin: 0;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

button {
    padding: 16px 32px;
    border-radius: 2px;
    background-color: purple;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: #590059;
}

h1{
    font-size: 80px;
    margin:0;
}
.header {
    padding: 10px 50px;
    background-color: #eaeaea;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    color: black;
}

.logo {
    width: 10%;
    height: auto;
}

.nav-links {
    width: 75%;
}

.nav-links ul {
    display: inline-flex;
}

.nav-links ul li {
    list-style-type: none;
    margin-right: 20px;
}

.login-btn {
    align-items: center;
    display: flex;
    gap: 20px;
}

.main-section{
    margin: 50px 100px 0 100px;
    display: inline-flex;
    align-items: center;
    /*text-align: center;*/
}
.main-heading{
    width:40%
}
.heading-subtitle{
    font-size: 28px;
}
.btn-contactSales{
    border: 1px solid purple;
    background-color: transparent;
    color: purple;
    font-weight: bold;
    cursor: pointer;
}
.btn-contactSales:hover{
    color: white;
}
.business-image{
    width: auto;
}

