@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*@font-face {*/
/*    font-family: 'Karla', sans-serif;*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: white;

}
/*.nav-item{*/
/*  @apply relative*/
/*}*/

/*.nav-item::after{*/
/*  @apply content-[''] bg-[#3B89D7] h-1 w-[0%] absolute items-center justify-center left-0 bottom-0 rounded-3xl duration-300*/
/*}*/

/*.nav-item::after:hover{*/
/*  @apply w-[100%]*/
/*}*/

.nav-item {
  @apply relative;
}

.nav-item::after {
  @apply content-[''] bg-[#3B89D7] h-[2px] w-[100%] absolute left-1/2 transform -translate-x-1/2 bottom-0 rounded-3xl duration-300;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

.text-field {
  @apply relative;
}

.text-field::after {
  @apply content-[''] flex items-center justify-center bg-[#3B89D7] h-full w-0 absolute top-0 right-0 rounded-3xl duration-300;
  width: 100%;
  transition: width 0.3s ease-in-out;
  content: '';
  display: none;
}

.show::after {
  width: 0;
  display: flex;
}

.hero-bg{
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("/home_page_hero_optimized.jpg");

  /*object-fit: contain;*/
}
/*.hero-bg::before{*/
/*  content: "" ;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: rgba(0,0,0,0.2);*/
/*  */
/*}*/
.container{
  @apply bg-cover bg-fixed text-white font-body-text relative w-full px-10 xl:px-10 2xl:px-80 py-5 lg:py-14
}

@keyframes draw {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.draw-animation {
  animation: draw 3s ease-in-out forwards;
}