@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Headings";
    src: url("../public/fonts/HKGrotesk-Regular.otf");
}
@font-face {
    font-family: "Subtitles";
    src: url("../public/fonts/HKGrotesk-Light.otf");
}
