*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
}

hr{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

img{
    margin-left: 25%;
    margin-right: 25%;
    margin-top:2%;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 1%;
}

.first-division{
    margin-top:0;
    padding: 0;
    background-color: #f9f4f0;
    height:120px;
    width: auto;
}
.name{
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1.5%;
    text-align: center;
    width: 50%;
    
}

.name-description{
    color: #3f3d3c;
    margin: auto;
    padding-top: 0.5%;
    text-align: center;
    width: 50%;
}

.second-division{
    background-color: #eadccf;
}

.img-description{
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    text-align: center;
    color: #3f3d3c;
}

.third-division{
    background-color: #f9f4f0;
    margin-left: 25%;
    margin-right: 25%;
}

.timeline{
    font-weight: bold;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 3%;
    font-size: 28px;
}

.timeline-items{
    margin-bottom: 2%;
}