<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <div id="header">
        <h1>lorepsum.com</h1>
    </div>
    <div id="navbar">
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Products</a></li>
        </ul>2
    </div>
    <div class="sideright">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid enim necessitatibus, labore sit quae
            quos ut laboriosam dolore! Sapiente distinctio cupiditate nobis, modi dolore praesentium! Temporibus
            pariatur hic atque.</p>
    </div>
    <div class="sideright">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid enim necessitatibus, labore sit quae
            quos ut laboriosam dolore! Sapiente distinctio cupiditate nobis, modi dolore praesentium! Temporibus
            pariatur hic atque.</p>
    </div>
    <div class="main">
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid enim necessitatibus, labore sit quae
            quos ut laboriosam dolore! Sapiente distinctio cupiditate nobis, modi dolore praesentium! Temporibus
            pariatur hic atque.</p>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid enim necessitatibus, labore sit quae
            quos ut laboriosam dolore! Sapiente distinctio cupiditate nobis, modi dolore praesentium! Temporibus
            pariatur hic atque.</p>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid enim necessitatibus, labore sit quae
            quos ut laboriosam dolore! Sapiente distinctio cupiditate nobis, modi dolore praesentium! Temporibus
            pariatur hic atque.</p>
    </div>
    <div class="sideright">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid enim necessitatibus, labore sit quae
            quos ut laboriosam dolore! Sapiente distinctio cupiditate nobis, modi dolore praesentium! Temporibus
            pariatur hic atque.</p>
    </div>
    <div class="main">
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid enim necessitatibus, labore sit quae
            quos ut laboriosam dolore! Sapiente distinctio cupiditate nobis, modi dolore praesentium! Temporibus
            pariatur hic atque.</p>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid enim necessitatibus, labore sit quae
            quos ut laboriosam dolore! Sapiente distinctio cupiditate nobis, modi dolore praesentium! Temporibus
            pariatur hic atque.</p>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aliquid enim necessitatibus, labore sit quae
            quos ut laboriosam dolore! Sapiente distinctio cupiditate nobis, modi dolore praesentium! Temporibus
            pariatur hic atque.</p>
    </div>
<footer id="footer">

</footer>
</body>

</html>