body {
    margin: 0px;
    font: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    background-color: aliceblue;
}

#header {
    height: 90px;
    background-color: aqua;
    margin: 10px;
    border-radius: 5px;
}

#navbar ul {
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    list-style-type: none;
}

#navbar ul li{
    display: inline;
}

#navbar ul li a{
    text-decoration: none;
    padding: 2em 1em;
}
#navbar ul li a:hover{
    color: black;
    
}

.main {
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    margin-right: 320px;
}

.sideright {
    background-color: rgb(240, 194, 137);
    border-radius: 5px;
    margin: 10px;
    margin-top: 0px;
    padding: 20px;
    float: right;
    width: 260px;
    clear: right;
}

#footer {
    height: 90px;
    background-color: aqua;
    margin: 10px;
    border-radius: 5px;
    clear: both;
}

h1{
    font-size: xx-large;
    text-align: center;
    color: brown;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
      top: 50%;  
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}